<div class="homepage " id="scrollbar_style">
  
  <img src="https://drive.google.com/uc?export=view&id=1t2pg9FBEmsZ6sxe-gqttKAnCoLdrNuSz" alt="" class="Home_Button">

  <div class="Menu_Button_Container">
    <span class="Menu_Button">
      <span class="Menu_Line eltdf-line-1">
      </span>
      <span class="Menu_Line eltdf-line-2">
      </span>
    </span>
  </div>


	<div class="bannervideocountainer row">
		<iframe
			src="https://player.vimeo.com/video/322980163?background=1"
			webkitallowfullscreen="" 
      mozallowfullscreen="" 
      allowfullscreen=""
      allow="autoplay"
			id="iframe59217" 
      data-ready="true" 
      class="bannervideosource col">
    </iframe>
	</div>




    <div class="Intro_Row row">
      <div class="col">
        <h5 class="Subtitle" >Trikon is a boutique production company and international               network of nomadic        artists delivering organic cinematic content 
      </h5>
      <img src="https://drive.google.com/uc?export=view&id=1xVpnTOogdqiawCp7MT6SvcQro-gDUn8M"  alt="" class="Intro_Row_Background">
      </div>
      <img src="https://drive.google.com/uc?export=view&id=19hwISQUnphdGrKSfHKVaeXOlqjhog5bJ" alt="" class="Home_Logo">
      
    </div>








  <mat-grid-list cols="4" rowHeight="1:1" class="Grid_List row">
      <mat-grid-tile class="tile" *ngFor="let Project of ProjectIDs; index as i;" (mouseover)="MouseOverActiveIndex = i">
        <img src="{{GoogleBaseLink + Project}}" alt="" class="Project_Image">
        <img src="{{GoogleBaseLink + TitledProjectIDs[i]}}" alt="" class="Project_Image Titled" [ngStyle]="{'opacity': MouseOverActiveIndex != i ? '0' : '1'}">
      </mat-grid-tile>
  </mat-grid-list>



  <div class="container-fluid Footer_Row row">
    <div class="col Portfolio_Column">
      <h4 class="Portfolio_Title">Portfolio</h4>
      <h5 class="Category_Title"> Feature Films</h5>
      <h5 class="Category_Title"> Short Films </h5>
      <h5 class="Category_Title"> Music Videos </h5>
      <h5 class="Category_Title"> Branded Content </h5>
    </div>

    <div class="Link_Column col">
<img src="https://img.icons8.com/material/96/000000/twitter-squared.png">
      <p>© Copyright 2019 Trikon. All Rights Reserved. </p>
    </div>
    <div class="col Contact_Column">
        <h4>Contact Information</h4> 
          <p>
            1433 1/2 Waterloo Street,<br>
            Los Angeles, CA, 90026 <br>
            P: <a href="tel:3239199629">323-919-9629</a> <br>
            E: <a href="mailto:contact@trikonstaging.wpengine.com">contact@trikonstaging.wpengine.com</a>
        </p>
    </div>
    
  </div>
</div>
	

  


